.navbar {
  color: #FEFFFF;
  background-color: #16a3a3;
}

.navbar-brand {
  color: #05386B;
  font-size: 28px;
  font-family: 'Russo One', sans-serif;
}

.navbar-brand:hover {
  text-decoration: none;
}

.join {
  color: #FEFFFF !important;
  background-color: #05386B !important;
  border-color: transparent !important;
}

.login {
  color: #05386B !important;
}

.navbar-link:hover {
  text-decoration: none!important;
}

.navbar-link:focus {
  box-shadow: none!important;
}

.nav-dropdown div {
  background-color:#16a3a3;
}

.nav-dropdown a {
  color: #EDF5E1 !important;
  font-size: large;
  font-weight: 600;
}

.nav-dropdown div a {
  font-size: medium;
  font-weight: 500;
}

.nav-dropdown div a:hover {
  background-color: #05386B;
}

.nav-dropdown button {
  border: inherit;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.nav-dropdown button:hover {
  background-color: inherit;
}