.navbar {
  color: #FEFFFF;
  background-color: #16a3a3;
}

.navbar-brand {
  color: #05386B;
  font-size: 28px;
  font-family: 'Russo One', sans-serif;
}

.navbar-brand:hover {
  text-decoration: none;
}

.join {
  color: #FEFFFF !important;
  background-color: #05386B !important;
  border-color: transparent !important;
}

.login {
  color: #05386B !important;
}

.navbar-link:hover {
  text-decoration: none!important;
}

.navbar-link:focus {
  box-shadow: none!important;
}

.nav-dropdown div {
  background-color:#16a3a3;
}

.nav-dropdown a {
  color: #EDF5E1 !important;
  font-size: large;
  font-weight: 600;
}

.nav-dropdown div a {
  font-size: medium;
  font-weight: 500;
}

.nav-dropdown div a:hover {
  background-color: #05386B;
  border: 1px solid #EDF5E1;
}

.nav-dropdown div a:focus {
  background-color: #05386B;
  border: 1px solid #EDF5E1;
}

.nav-dropdown button {
  border: 0;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.nav-dropdown button:hover {
  background-color: inherit;
  border: 0;
}

.nav-dropdown button:focus {
  background-color: inherit;
  border: 0;
}


.icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.iconUser {
  width: 50px;
  height: 50px;
  visibility: hidden;

}

@media (min-width: 450px) {
  .iconUser {
    visibility: visible;
  }
}
