
.gridContainer {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 220px;
  grid-gap: 25px;
  justify-content: space-evenly;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
* {box-sizing: border-box;}

@media (min-width: 600px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 220px;
    grid-gap: 25px;
    justify-content: space-evenly;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  * {box-sizing: border-box;}
  }

@media (min-width: 1080px) {
.gridContainer {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 220px 220px 220px;
  grid-gap: 25px;
  justify-content: space-evenly;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
* {box-sizing: border-box;}
}

.centerContent {
  display: flex;
  justify-content: center;
  margin: auto;
}

.grid_item {
  display: flex;
  width: 100%;
  height: 100%;

}

.truncated_paragraph {
  width: 200px;
  height: 60px;
  white-space: normal;
  overflow: auto;
  text-overflow: ellipsis;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  color: #EDF5E1;
}
.truncated_paragraph::-webkit-scrollbar {
  display: none;
}
.truncated_title {
  width: 200px;
  height: 30px;
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #EDF5E1;
}


.clickDiv {
  display: flex;
  text-align: center;
  font-family: "Russo One", sans-serif;
  background-color: #16a3a3 !important;
  color: #f1f5f7;
  border-color: transparent !important;
  padding: 50px;
  width:100%;
  min-width: 250px;
  min-height: 200px;
}

:hover .clickDiv
{
  cursor: pointer;
}

.buttonBar {
  display: flex;
  justify-content: space-between;
}

.card_style {
  border-color: transparent !important;
  display: inline-block;
  size: 100%;
}
