@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.jumbotron .align-items-center {
  align-items: center!important;
}

.jumbotron {
  padding: 80px 0;
  background: url('assets/images/jumbo-img.svg') #16a3a3;
  background-repeat: no-repeat;
  background-clip: border-box;
  border-radius: 0;
  padding: auto;
}



@media (max-width:900px) {
  .jumbotron .align-items-center {
    align-items: unset!important;
  }
  .jumbotron {
  
    background: #16a3a3;
    background-image: url('assets/images/logo_no_bg.svg');
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 15% 65%;
    margin:auto;
  }
  .jumbotron .h1 {
    font-size: 2rem;
    color: #EDF5E1;
  }

}

@media (max-width:600px) {
  .jumbotron .align-items-center {
    align-items: unset!important;
  }
  .jumbotron {
    background-image: none;
    background:#16a3a3;
  }
  .jumbotron .h1 {
    font-size: 1rem;
    color: #EDF5E1;
  }
}


@media (min-width: 2400px) {


  .jumbotron {
    background-image: none;
  }
}

.jumbotron .h1 {
  font-size: 3rem;
  color: #EDF5E1;
}
